extends ../layout

block content
	.container
		.row
			div.text-right
				a(target="_blank",href="/admin/movie") 添加
			table.table.table-hover.table-bordered
				thead
					tr
						th 电影名字
						th 导演
						th 国家
						th 上映年份
						th 更新时间
						th 操作
					tbody
						each item in movies
							tr(class="item-id-#{item._id}")
								td
									a(target="_blank",href="/movie/#{item._id}") #{item.title} &nbsp;
								td #{item.doctor}
								td #{item.country}
								td #{item.year}
								td #{moment(item.meta.updateAt).format('YYYY-MM-DD')}
								td 
									a(target="_blank",href="/admin/update/#{item._id}") 修改&nbsp;
									button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
	script(src="/js/imovie.js")